{% extends 'base.html' %}
{# vim: ts=2 sts=2 sw=2 et ai
#}

{% block title %}Home{% endblock %}

{% block content %}
  <div class='generated'>
    Generated {{ fmtdate(generated, '%d %b %H:%M') }}
  </div>
  {% if articles|length > 0 %}
  <ul class='article-list'>
    {% for article in articles %}
    <li>
      <div class='title'>
        <a href="article?handle={{ b64enc(article.handle) }}">
          {{ article.title }}
        </a>
      </div>
      <div class='time'>{{ fmtdate(article.found_at) }}</div>
      <div class='url'><a href="{{ article.url }}">source</a></div>
      <div class='src-url'><a href="{{ article.srcurl }}">{{ article.brand }}</a></div>
      <div class='summary'>
        {% for piece in split(article.summary) %}
        <p>{{ piece }}
        {% endfor %}
      </div>
    </li>
    {% endfor %}
  </ul>
  {% else %}
  <div class='no-articles'>No Articles</div>
  {% endif %}
{% endblock %}
